        .titulo{
            color: rgb(255, 255, 255);
            font-family: "Bebas Neue", sans-serif;
            text-align: center;
            -webkit-text-stroke: 0.05px black;
            text-shadow: 0px 2px 2px rgb(73, 73, 73);
            position: absolute;
            top: 50px;
            left: 60px;
            
        }
        .fundo{
            width: 400px;
            height: 1800px;
            position: absolute;
            top: 0px;
            left: 0px;
            background-image: linear-gradient(to right, rgb(255, 255, 99)0%,rgb(255, 255, 113)25%,rgb(255, 255, 95)50%,rgb(255, 255, 105)75%  , rgb(255, 255, 149)100%);
        }
        .barra{
            width: 400px;
            height: 50px;
            background-color: rgb(255, 215, 20);
        }


         li{
            list-style-type: none;
            text-align: justify;
            font-family: "Bebas Neue", sans-serif;
            font-size: 180%;
        }
        .mhr{
            height: 1px;
            background-color: rgb(255, 213, 0);
            margin-left: -45px;
        }
        .mhr2{
            height: 1px;
            background-color: rgb(255, 213, 0);
            margin-left: -45px;
            margin-top: 30px;
        }
        .mhr3{
            height: 1px;
            background-color: rgb(255, 213, 0);
            margin-left: -45px;
            margin-top: 30px;
        }
         .menu{
            margin-left: 180px;
            margin-top: -40px;
        }
        .menu .menu-faketrigger{
            display: block;
            position: absolute;
            z-index: 1000;
            width: 35px;
            height: 30px;
            opacity: 0;
            cursor: pointer;
        }

        .menu .menu-lines{
          position: absolute;
          z-index: 999;
          width: 35px;
          height: 35px;
        }

        .menu .menu-lines span{
          display: block;
          width: 35px;
          height: 5px;
          margin-bottom: 6px;
          background-color: #ffffff;
          border-radius: 30px;
          transition: all ease .2s;
        }
        

        .menu .menu-faketrigger:checked ~ .menu-lines span {
          background-color:  rgb(255, 215, 20);
        }

        .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1){
          transform-origin: 0% 0%;
          transform: rotate(45deg) scaleX(1.0);
        }
         .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2){
          opacity: 0;
        }
         .menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3){
          transform-origin: 0% 100% ;
          transform: rotate(-45deg) scaleX(1.0);
        }

        .menu ul{
          position: absolute;
          z-index: 998;
          left: 0px;
          top: 0px;
          width:360px;
          height: 250px;
          padding-top: 100px;
          background-image: linear-gradient(to bottom right, rgb(0, 16, 107) 0%, rgb(19, 35, 107) 25%, rgb(33, 52, 105) 50%, rgb(0, 1, 75) 75%, #0a2a64 100%);
          margin-top: -1500px;
          margin-left: 0px;
          transition: all ease .8s;

        }
        .menu-faketrigger:checked ~ ul{
            position: absolute;
            left: 0px;
        
          margin-top: 0px;
        }
        .menu ul li{
            padding: 10px 0px;
        }
        .menu ul li a{
            text-decoration: none;
            color: rgb(255, 215, 20);
            font-size: 28px;
            transition:  all ease .3s;
            position: absolute;
            top: 90px;
            left: 135px;
        }
        .menu ul li a:hover{
            color: #ffffff;
        }
        .segundaescrita{
            text-decoration: none;
            color: rgb(255, 215, 20);
            font-size: 28px;
            transition:  all ease .3s;
            position: absolute;
            top: 60px;
            left: 23px;
        }
        .segundaescrita:hover{
            color: #ffffff;
        }
        .terceiraescrita{
            text-decoration: none;
            color: rgb(255, 215, 20);
            font-size: 28px;
            transition:  all ease .3s;
            position: absolute;
            top: 120px;
            left: 4px;
        }
        .terceiraescrita:hover{
            color: #ffffff;
        }
        .quartaescrita{
            text-decoration: none;
            color: rgb(255, 215, 20);
            font-size: 28px;
            transition:  all ease .3s;
            position: absolute;
            top: 180px;
            left: -4px;
        }
        .quartaescrita:hover{
            color: #ffffff;
        }




.checkbox-wrapper-16 *,
  .checkbox-wrapper-16 *:after,
  .checkbox-wrapper-16 *:before {
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  left: 10px;
}

.checkbox-wrapper-16 .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile {
  border-color: #000000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-16 .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  position: absolute;
  top: 5px;
  left: 8px;
  opacity: 1;
  background-color: hwb(59 40% 0%);
  border-color: #000000;
  content: "✓";
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile {
  border-color: #000000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px lab(100% 0.01 -0.01);
}

.checkbox-wrapper-16 .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 1.5rem;
  border: 2px solid #000000;
  background-color: rgb(255, 215, 20);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-16 .checkbox-tile:before {
  content: "";
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  border-radius: 50%;
  top: 5px;
  left: 7px;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.padrao{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 115px;
    left: 28px;
}


  .checkbox-wrapper-17 *,
  .checkbox-wrapper-17 *:after,
  .checkbox-wrapper-17 *:before {
  box-sizing: border-box;
  position: absolute;
  top: 200px;
  left: 10px;
}

.checkbox-wrapper-17 .checkbox-input2 {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox-wrapper-17 .checkbox-input2:checked + .checkbox-tile2 {
  border-color: #000000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-17 .checkbox-input2:checked + .checkbox-tile2:before {
  transform: scale(1);
  position: absolute;
  top: 5px;
  left: 8px;
  opacity: 1;
  background-color: hwb(59 40% 0%);
  border-color: #000000;
  content: "✓";
}

.checkbox-wrapper-17 .checkbox-input2:focus + .checkbox-tile2 {
  border-color: #000000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px lab(100% 0.01 -0.01);
}

.checkbox-wrapper-17 .checkbox-input2:focus + .checkbox-tile2:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-17 .checkbox-tile2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 1.5rem;
  border: 2px solid #000000;
  background-color: rgb(255, 215, 20);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-17 .checkbox-tile2:before {
  content: "";
  font-size: 12px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #b5bfd9;
  border-radius: 50%;
  top: 5px;
  left: 7px;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.checkbox-wrapper-17 .checkbox-tile2:hover {
  border-color: #2260ff;
}

.checkbox-wrapper-17 .checkbox-tile2:hover:before {
  transform: scale(1);
  opacity: 1;
}

